* {
    box-sizing: border-box;
    
   
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.calcContainer {
    height: 80%;
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
     
}

.buttons {
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    
    font-weight: 500;
    padding: 11px;
    padding-right: 0.3rem;
    height: 70%;
    width: 42%;
     
    
}

.keyButton, .keyButtonOperation, .keyButtonClear,.keyButtonEquals, .keyButtonDelete {
   
    border: 0.1rem solid rgb(56, 56, 56);
    margin-top: -1px;
    margin-left: -1px;
    color: white;
    background-color: black;
    cursor: pointer;
    height: 18%;
    width: 20%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    float: left;
      
}

#equalsHeight {
    width: 59.5%;
}

#up {
    
}

.keyButton:hover, .keyButtonOperation:hover, .keyButtonEquals:hover, .keyButtonClear:hover, .keyButtonDelete:hover {
    background-color: rgb(65, 65, 65);
}

.keyButtonOperation, .keyButtonEquals, .keyButtonClear, .keyButtonDelete {
    color: orange;
}

.output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.4rem;
    font-size: 25px;
    
    color: white;
    border: 1px solid rgb(71, 71, 71);
    display: flex;
    width: 98.7%;
    height: 20%;
    margin: 5%;
    margin-left: 0;
    pointer-events: none;
    user-select: none;
}

.isDepressed {
    background-color: rgb(65, 65, 65);
}